.headerDialog {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 30px;
    margin-right: 10px;
    border-radius: 20px;
    padding: 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.subContainer {
    display: flex;
}

.tagInput {
    height: 30px;
    font-size: 22px;
}

.readonly {
    color: darkgrey;
}

.warning {
    color: #f85454;
}

.btn {
    margin-left: 11px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.colorButton {
    border: 2px solid darkgray;
    height: 28px;
    margin-right: 20px;
}