.headerDialog {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.subContainer {
    display: flex;
}

.tagInput {
    height: 30px;
    font-size: 22px;
}

.readonly {
    color: darkgrey;
}

.warning {
    color: #f85454;
}

.btn {
    margin-left: 11px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.colorButton {
    border: 2px solid darkgray;
    height: 28px;
    margin-right: 20px;
}