<h2 mat-dialog-title>Title</h2>

<mat-dialog-content class="container" [formGroup]="form">
    <mat-form-field>
        <input class="title" matInput placeholder="Título" formControlName="title">
    </mat-form-field>
    <p class="warning" id="warning"></p>
    <mat-form-field>
        <textarea class="description" matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>