<h2 mat-dialog-title>Title</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <textarea class="title" matInput placeholder="Título" formControlName="title"></textarea>
    </mat-form-field>
    <mat-form-field>
        <textarea class="description" matInput placeholder="Descripción" formControlName="description"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>