/* .mat-form-field {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
} */

.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.warning {
    color: #f85454;
}

.idNumber {
    color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    height: 20px;
    /* width: 100%;
    min-width: 100px;
    max-width: 1000px; */
    /* width: 1000px; */
    resize: none;
}

.description {
    height: 100px;
    resize: vertical;
}