.headerDialog {
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}

.warning {
    color: #f85454;
}

.idNumber {
    color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.title {
    height: 30px;
    font-size: 22px;
    /* width: 100%;
    min-width: 100px;
    max-width: 1000px; */
    /* width: 1000px; */
}

.description {
    height: 100px;
    font-size: 18px;
    resize: vertical;
}

.matChipList {
    margin-top: 30px;
}

.chip {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.chipItemList {
    border-radius: 20px;
    padding: 4px 10px;
    margin-left: 2px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.btn {
    margin-left: 11px;
    margin-top: 20px;
    margin-bottom: 5px;
}