<header>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <div class="container-fluid">
        <!-- Brand Logo -->
        <a (click)="brandLink()">
          <img class="navbar-logo" src="../../../assets/logo.png" alt="home-icon">
        </a>
        <a class="navbar-brand" (click)="brandLink()">{{title}}</a>
  
        <!-- Menu button (when menu is collapsed) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <!-- Navigation bar -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
          <ul class="navbar-nav mb-2 mb-md-0">
            <div *ngIf="!uid">
              <button type="button" class="btn btn-success login boton" routerLink="/login">Iniciar Sesión</button>
              <button type="button" class="btn btn-info signup boton" routerLink="/signup">Registrarse</button>
            </div>

            <div *ngIf="uid">
              <button type="button" class="btn btn-light mis-proyectos boton" routerLink="/my-projects">Mis proyectos</button>
              <button type="button" class="btn btn-danger signOut boton" (click)="signOut()">Cerrar sesión</button>
            </div>
          </ul>
        </div>
      </div>
    </nav>
  
</header>