<app-navbar></app-navbar>

<h2 class="title">Predicción para 1 Elemento, basada en el Tiempo de Ciclo de tus PBI</h2>

<mat-card class="chart-card">
    <div class="chart" *ngIf="isReady">
        <p class="forecast">Según tus datos, un nuevo PBI tiene un <span class="forecast-important">{{percentile * 100}}%</span> de probabilidad de ser terminado en <span class="forecast-important">{{yValuePercentile}}</span> <span *ngIf="yValuePercentile != '1'"> días</span> <span *ngIf="yValuePercentile == '1'"> día</span> o menos</p>

        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [title]="chartOptions.title!"
            [annotations]="chartOptions.annotations!"
            [xaxis]="chartOptions.xaxis!"
            [yaxis]="chartOptions.yaxis!"
            [grid]="chartOptions.grid!"
        ></apx-chart>
    </div>

    <div class="options">
        <!-- Elegir percentil -->
        <div class="optionGroup">
            <label class="optionTitle" id="radio-group">Percentiles estándar</label>
            <mat-radio-group aria-labelledby="radio-group" class="radio-group">
                <mat-radio-button class="radio-button" [value]="0.5" [checked]="true" (click)="recalculate(0.5)">50%</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="0.85" (click)="recalculate(0.85)">85%</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="0.95" (click)="recalculate(0.95)">95%</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Mostrar PBI Doing -->
        <div class="optionGroup">
            <h4 class="optionTitle">Mostrar</h4>
            <mat-checkbox (change)="getWorkItemsDoing($event)">PBI Doing</mat-checkbox>
        </div>

        <!-- Elegir fechas -->
        <div class="optionGroupFechas">
            <h4 class="optionTitle">Elegir rango de fechas</h4>
            <mat-form-field appearance="fill">
                <mat-label>Rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                    <input matStartDate placeholder="Start date" disabled (dateInput)="setStartDate($event)">
                    <input matEndDate placeholder="End date" disabled (dateInput)="setEndDate($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                <p class="warning" id="warningDates"></p>
            </mat-form-field>
        </div>

        <!-- Elegir cada tipo de panel -->
        <div class="optionGroup">
            <h4 class="optionTitle">Elegir panel inicial y final</h4>
            <mat-form-field appearance="fill">
                <mat-label>Panel de Inicio</mat-label>
                <mat-select (selectionChange)="setPanelStartSelector($event)" [(value)]="panelStart">
                    <mat-option *ngFor="let pN of panelNames" [value]="pN">{{pN}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Panel de Fin</mat-label>
                <mat-select (selectionChange)="setPanelEndSelector($event)" [(value)]="panelEnd">
                    <mat-option *ngFor="let pN of panelNames" [value]="pN">{{pN}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="warning" id="warningPanels"></p>
        </div>
    </div>
</mat-card>