<app-navbar></app-navbar>

<h2 class="title">Predicción para 1 Elemento, basada en el Tiempo de Ciclo de tus PBI</h2>

<mat-card class="chart-card">
    <div class="chart" *ngIf="isReady">
        <p class="forecast">Según tus datos, un nuevo PBI tiene un <span class="forecast-important">{{percentile * 100}}%</span> de probabilidad de ser terminado en <span class="forecast-important">{{yValuePercentile}}</span> <span *ngIf="yValuePercentile != '1'"> días</span> <span *ngIf="yValuePercentile == '1'"> día</span> o menos</p>

        <apx-chart
            [series]="chartOptions.series!"
            [chart]="chartOptions.chart!"
            [title]="chartOptions.title!"
            [annotations]="chartOptions.annotations!"
            [xaxis]="chartOptions.xaxis!"
            [yaxis]="chartOptions.yaxis!"
            [grid]="chartOptions.grid!"
            [tooltip]="chartOptions.tooltip!"
        ></apx-chart>
    </div>

    <div class="options">
        <!-- Elegir percentil -->
        <div class="optionGroup">
            <label class="optionTitle" id="radio-group">Percentiles estándar</label>
            <mat-radio-group aria-labelledby="radio-group" class="radio-group">
                <mat-radio-button class="radio-button" [value]="0.5" [checked]="true" (click)="recalculate(0.5)">50%</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="0.85" (click)="recalculate(0.85)">85%</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="0.95" (click)="recalculate(0.95)">95%</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Mostrar PBI Doing -->
        <div class="optionGroupDoing">
            <h4 class="optionTitle">Mostrar</h4>
            <mat-checkbox class="doingCheck" [checked]="true" (change)="getWorkItemsDoing($event.checked)">PBI Doing</mat-checkbox>
            <h5 class="optionSubtitle">Elegir panel Doing</h5>
            <mat-form-field appearance="fill">
                <mat-label>Panel Doing</mat-label>
                <mat-select (selectionChange)="setPanelDoing($event.value)" [(value)]="panelDoing">
                    <mat-option *ngFor="let pN of panelNames" [value]="pN">{{pN}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Elegir fechas -->
        <div class="optionGroupFechas">
            <h4 class="optionTitle">Elegir rango de fechas</h4>
            <mat-form-field appearance="fill">
                <mat-label>Rango de fechas</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                    <input matStartDate placeholder="Start date" disabled (dateInput)="setStartDate($event)">
                    <input matEndDate placeholder="End date" disabled (dateInput)="setEndDate($event)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
                <p class="warning" id="warningDates"></p>
            </mat-form-field>
        </div>

        <!-- Elegir Panel de Inicio y de Fin -->
        <div class="optionGroup">
            <h4 class="optionTitle">Elegir panel Inicial y Final 
                <span matTooltip="Elegir los Paneles que representan el Inicio y el Fin para la cuenta del Tiempo de Ciclo">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path fill="darkgray" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path fill="darkgray" d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                </span>
            </h4>
            <h5 class="optionSubtitle">Elegir panel Inicial</h5>
            <mat-form-field appearance="fill">
                <mat-label>Panel de Inicio</mat-label>
                <mat-select (selectionChange)="setPanelStartSelector($event)" [(value)]="panelStart">
                    <mat-option *ngFor="let pN of panelNames" [value]="pN">{{pN}}</mat-option>
                </mat-select>
            </mat-form-field>
            <h5 class="optionSubtitle">Elegir panel Final</h5>
            <mat-form-field appearance="fill">
                <mat-label>Panel de Fin</mat-label>
                <mat-select (selectionChange)="setPanelEndSelector($event)" [(value)]="panelEnd">
                    <mat-option *ngFor="let pN of panelNames" [value]="pN">{{pN}}</mat-option>
                </mat-select>
            </mat-form-field>
            <p class="warning" id="warningPanels"></p>
        </div>
    </div>
</mat-card>