.title {
    padding-top: 5em;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1em;
    color: #307df8;
}

.forecast {
    text-align: center;
    font-size: 22px;
    margin-bottom: 3em;
}

.forecast-important {
    font-weight: bold;
    font-size: 25px;
    color: #f85454;
}

.chart-card {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    margin: auto;
}

.chart {
    max-width: 1100px;
    margin: auto;
}

.options {
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    box-sizing: border-box;
    margin: 10px;
    border: solid 1px rgb(190, 190, 190);
    border-radius: 4px;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.radio-button {
    margin: 5px;
}