<div class="item-proyect">
    <div>
        <span class="nombre">
            Nombre: 
                <a class="link-nombre" routerLink="/project/{{project._id}}" [state]="{ projectName: project.name, projectPanels: project.panels, projectTags: project.tags, projectWorkItems: project.workItems}">{{ project.name }}</a>
        </span>
    
        <!-- <span class="rol">
            Rol: <span class="rol-name">{{ role }}</span>
        </span> -->
    </div>

    <button class="editButton btn btn-outline-primary" (click)="openDialog()">Editar</button>
</div>