.tagItem {
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.87);
    align-items: center;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
    font-size: 18px;
    margin: 10px;
    border: solid 1px rgb(190, 190, 190);
    border-radius: 4px;
}

.tag {
    border-radius: 20px;
    padding: 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.editButton {
    display: none;
}

.tagItem:hover .editButton {
    display: inline-block;
}