<body>
    <app-navbar></app-navbar>

    <h2 class="title">Inicio de Sesión</h2>
    <mat-card class="login">
        <form #signinForm class="needs-validation" novalidate>
            <div>
                <label for="email" class="form-label">Correo Electrónico</label>
                <input #email type="email" class="form-control input" name="email" placeholder="email@ejemplo.com" required autofocus>
                <div class="invalid-feedback">Por favor, proporciona un Correo Electrónico válido</div>
            </div>
    
            <div>
                <label for="password" class="form-label">Contraseña</label>
                <input #password type="password" class="form-control input" name="password" placeholder="contraseña" required>
                <div class="invalid-feedback">Please, proporciona una Contraseña</div>
            </div>
    
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="mt-2 btn btn-primary" role="button" (click)="signin(email.value, password.value, signinForm)">Iniciar sesión</button>
            </div>
        </form>
    </mat-card>
</body>