.form {
    width: 100%;
    /* max-width: 1000px; */
    /* min-width: 150px; */
    /* max-width: 500px; */
}

.dialog {
    /* min-width: 150px; */
    width: 1000px;
    display: flex;
    flex-direction: column;
}

/* .full-width {
    width: 100%;
} */