<div *ngIf="workItem" (click)="openDialog()" id="{{workItemIdNumber}}" class="container">
    <span class="description" title="Título: {{workItem.title}}">
        <span class="idNumber" title="ID #{{workItemIdNumber}}">#{{workItemIdNumber}} </span>{{workItem.title}}
    </span>
    <svg *ngIf="workItem.description?.length != 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
    </svg>
    
    <div *ngIf="workItem.tags?.length">
        <mat-divider class="chipList"></mat-divider>
        <!-- Para poner debajo las etiquetas si las tiene <mat-divider></mat-divider> -->
        <mat-chip-list aria-label="WorkItem tags">
            <mat-chip class="chip" *ngFor="let tagName of workItemTagsNames" [ngStyle]="{'background-color': workItemTagsColors[tagName], 'color': workItemTagsFontColors[tagName]}">
                {{tagName}}
            </mat-chip>
        </mat-chip-list>
          
    </div>
</div>