.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}

.idNumber {
    color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.description {
    cursor: default;
    font-size: 16px;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    /* overflow-wrap: break-word; */
}

.btn {
    margin-right: 8px;
    display: none;
}

.editing {
    display: none;
}