<!-- El componente NO es una tarea, sino las tareas de cada Panel -->
<div cdkDropList [cdkDropListData]="workItemsOfPanel.names" class="itemList" (cdkDropListDropped)="drop($event)">
    <div class="itemBox" *ngFor="let workItem of workItemsOfPanel.workItems" cdkDrag #itemBox>
        <p class="description" title="{{workItem.name}}" #description>
            {{workItem.name}}
        </p>
        <app-read-delete-work-item [workItemId]="workItem._id" [htmlWorkItem_Description]="description" [htmlWorkItem_Box]="itemBox"></app-read-delete-work-item>
    </div>
</div>