<app-navbar></app-navbar>

<div class="container">
    <h1 class="projectName">{{projectName}}</h1>
    <div>
        <button class="botonEstimar btn" routerLink="/project/{{projectId}}/estimate-single">Estimar 1 elemento</button>
        <button class="botonEstimar btn" routerLink="/project/{{projectId}}/estimate-multiple">Estimar varios elementos</button>
    </div>
</div>

<div cdkDropList cdkDropListOrientation="horizontal" class="panelList" (cdkDropListDropped)="drop($event)">
    <div cdkDropListGroup>
        <!-- Es posible que el id del div (panel) ya no sea necesario -->
        <div id={{panel}} class="panelContainer" *ngFor="let panel of panelNames" cdkDrag>
            <h2 class="panelName">{{panel}}</h2>
            <!-- Crear work-item -->
            <app-create-work-item *ngIf="panel =='ToDO'" [panelName]="panel" [workItemListComponent]="wIC"></app-create-work-item>
            <app-work-item-list [panelName]="panel" #wIC></app-work-item-list>
        </div>
    </div>
</div>