.title {
    padding-top: 5em;
    font-size: 30px;
    text-align: center;
    margin-bottom: 1em;
    color: #307df8
}

.tags {
    margin: auto;
    max-width: 900px;
    padding: 30px 10px;
}

.tagCreation {
    margin-bottom: 30px;
}

.no-tags {
    font-size: 20px;
    color: grey;
    text-align: center;
}

.tagInput {
    margin-right: 10px;
}

.inputFooter {
    font-size: 14px;
}