<app-navbar></app-navbar>

<div class="header">
    <button class="headerButton btn" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill="#4b4c4c" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg>
    </button>
    <h2 class="title">Etiquetas del Proyecto</h2>
</div>

<mat-card class="tags">
    <div>
        <mat-accordion>
            <mat-expansion-panel class="tagCreation">
                <mat-expansion-panel-header>
                <mat-panel-title class="creationTitle">
                    Crear nueva etiqueta
                </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- Input to create new tag -->
                <div>
                    <form class="formContainer" [formGroup]="form" #formDirective="ngForm" (ngSubmit)="createTag(formDirective)">
                        <mat-form-field class="tagInput" appearance="fill" hintLabel="Máximo {{characterLimitName}} caracteres" [hideRequiredMarker]="true">
                            <mat-label>Nombre</mat-label>
                            <input type="text" matInput autocomplete="off" formControlName="name" maxlength="{{characterLimitName}}" required #nameInput>
                            <mat-hint class="inputFooter" align="end">{{nameInput.value?.length || 0}}/{{characterLimitName}}</mat-hint>
                            <mat-error class="inputFooter" *ngIf="form.invalid">Debes introducir un nombre</mat-error>
                        </mat-form-field>
                        <mat-form-field class="tagInput readonly" appearance="fill" [hideRequiredMarker]="true">
                            <mat-label>Color</mat-label>
                            <input id="color" type="text" matInput autocomplete="off" formControlName="color" [readonly]="true">
                            <mat-error class="inputFooter" *ngIf="form.invalid">Debes elegir un color</mat-error>
                        </mat-form-field>
                        
                        <button id="colorButton" type="button" class="btn colorButton" (click)="toggleColorPicker()"></button>
                        <div id="pickerColor"></div>

                        <button class="crearButton" type="submit" mat-flat-button color="primary">Crear</button>
                    </form>
                </div>
                <p class="tagCreation-warning" id="warning"></p>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div *ngFor="let tag of tagsOfProject">
        <app-tag [tag]="tag" [tagListComponent]="this"></app-tag>
    </div>

    <div *ngIf="tagsOfProject.length==0">
        <p class="no-tags">Todavía no existen etiquetas en tu proyecto</p>
    </div>
</mat-card>