.header {
    display: flex;
    padding-top: 5em;
    margin: auto;
    max-width: 900px;
}

.headerButton {
    height: 45px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.title {
    font-size: 30px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 1em;
    color: #307df8
}

.tags {
    margin: auto;
    max-width: 900px;
    padding: 30px 10px;
}

.tagCreation {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.creationTitle {
    font-size: 20px;
    color: #307df8;
}

.formContainer {
    display: flex;
    align-items: center;
}

.colorButton {
    border: 2px solid darkgray;
    height: 28px;
    margin-right: 20px;
}

.crearButton {
    margin-left: 20px;
}

.tagCreation-warning {
    margin-top: 20px;
    color: #f85454;
}

.no-tags {
    font-size: 20px;
    color: grey;
    text-align: center;
}

.tagInput {
    margin-right: 10px;
}

.readonly {
    color: darkgrey;
}

.inputFooter {
    font-size: 14px;
}