body {
    background-color: #307df8;
}

.signup {
    margin: auto;
    max-width: 400px;
}

.title {
    padding-top: 5em;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 1em;
}

.input {
    margin-bottom: 1.5em;
}

.form-label {
    color: #307df8;
}