<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Crear nueva tarea
        </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Input to create new work-item -->
        <form class="create-work-item">
            <mat-form-field class="full-width" appearance="fill" hintLabel="Máximo {{characterLimitName}} caracteres">
                <mat-label>Título de la tarea</mat-label>
                <input type="text" id="title" matInput autocomplete="off" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" maxlength="{{characterLimitName}}" #titleInput>
                <mat-hint class="inputFooter" align="end">{{titleInput.value?.length || 0}}/{{characterLimitName}}</mat-hint>
                <span>
                    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </button>
                    <button *ngIf="value" id="create" mat-flat-button color="primary" (click)="createWorkItem()">Crear</button>
                </span>
            </mat-form-field>
        </form>
    </mat-expansion-panel>
</mat-accordion>