mat-expansion-panel {
    background-color: rgb(240, 240, 246);
    /* border: solid 1px rgb(90, 90, 90); */
    border-radius: 4px;
    min-height: 30px;
    margin: 5px;
    margin-bottom: 10px;
}

mat-panel-title {
    font-weight: bold;
}

button {
    margin-left: 10px;
}

input {
    max-width: 200px;
}